@inherits LayoutComponentBase
<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />
<div class="page">
    <main>
        @Body
    </main>
</div>
