@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<FluentButton Appearance="@Appearance.Accent" OnClick="IncrementCount">Click Me</FluentButton>

<FluentCard Width="350px" Height="250px">
    <h2>Hello World!</h2>
    <FluentIcon Value="@(new Icons.Regular.Size24.Save())" />
    <FluentIcon Value="@(Icon.FromImageUrl("/Blazor.png"))" />
</FluentCard>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
